// repeated throughout
$fullNoneRemoval: none;
$fullZeroRemoval: 0em;
$defaultCursor: default;
$centeredContent: center;
$titleMarginTopAndModalBorderRadiusAndModalPaddingTop: 0.5em;
$inputAndNoYesSize: 1.5em;
$btnCursor: pointer;
$binAndNoColour: red;

/************************************************************** universal */
$fontStyleType: "Indie Flower", cursive;
$mainBgColour: rgb(252, 224, 165);

* {
  font-family: $fontStyleType;
  margin: $fullZeroRemoval;
  padding: $fullZeroRemoval;
  list-style: $fullNoneRemoval;
}

body {
  background-color: $mainBgColour;
}

/************************************************************** title */
$titleSize: 3em;

#mainTitle {
  text-align: $centeredContent;
  margin-top: $titleMarginTopAndModalBorderRadiusAndModalPaddingTop;
  cursor: $defaultCursor;
  font-size: $titleSize;
}

/************************************************************** input field */
$inputMarginTop: 2.1em;
$borderBottom: orange solid 0.2em;
$borderWidth: 7em;

#inputContainer {
  text-align: $centeredContent;
  margin-top: $inputMarginTop;
}

#addTaskInputField {
  border: $fullZeroRemoval;
  border-bottom: $borderBottom;
  width: $borderWidth;
  background-color: $mainBgColour;
}

#addTaskInputField {
  outline: $fullNoneRemoval;
  font-size: $inputAndNoYesSize;
}

/************************************************************** input btn */
$btnSize: 2em;
$btnColour: yellow;

#addBtn.fas.fa-plus-circle {
  font-size: $btnSize;
  color: $btnColour;
  cursor: $btnCursor;
}

/************************************************************** task area */
$taskBoxBorder: solid 0.5em orange;
$taskBoxWidth: 18em;
$taskBoxHeight: 25em;
$taskBoxMargin: 2em auto 0em;
$taskBoxOverflow: auto;

#tasksContainer {
  border: $taskBoxBorder;
  width: $taskBoxWidth;
  height: $taskBoxHeight;
  margin: $taskBoxMargin;
  overflow: $taskBoxOverflow;
}

/************************************************************** task items */
$taskItemsSize: 1.9em;
$taskItemsMargins: auto 0.3em;
$binMarginLeft: 1em;
$taskItemsBottom: orange solid 0.1em;
$taskItemsPaddingTop: 0.2em;

.task-items {
  font-size: $taskItemsSize;
  margin: $taskItemsMargins;
  cursor: $defaultCursor;
}

.far.fa-trash-alt {
  color: $binAndNoColour;
  margin-left: $binMarginLeft;
  cursor: $btnCursor;
}

.task-items hr {
  border: $fullZeroRemoval;
  border-bottom: $taskItemsBottom;
  padding-top: $taskItemsPaddingTop;
}

/************************************************************** modal */
$modalBgColour: rgba(85, 85, 17, 0.233);
$fixedModal: fixed;
$modalLeftAndTop: 0;
$modalWidthAndHeight: 100%;
$absoluteTextModal: absolute;
$modalTextBgColour: white;
$modalTop: 6em;
$modalHeight: 7.5em;
$noYesFontWeight: 900;
$noYesMargin: 0em 1em;
$noYesPadding: 0.1em;
$yesBtnColour: green;

#modal {
  background-color: $modalBgColour;
  position: $fixedModal;
  left: $modalLeftAndTop;
  top: $modalLeftAndTop;
  width: $modalWidthAndHeight;
  height: $modalWidthAndHeight;
  display: $fullNoneRemoval;
  cursor: $defaultCursor;
}

#modalText {
  position: $absoluteTextModal;
  text-align: $centeredContent;
  background-color: $modalTextBgColour;
  border-radius: $titleMarginTopAndModalBorderRadiusAndModalPaddingTop;
  top: $modalTop;
  height: $modalHeight;
  padding-top: $titleMarginTopAndModalBorderRadiusAndModalPaddingTop;
}

#no,
#yes {
  border-radius: $titleMarginTopAndModalBorderRadiusAndModalPaddingTop;
  cursor: $btnCursor;
  font-size: $inputAndNoYesSize;
  font-weight: $noYesFontWeight;
  margin: $noYesMargin;
  padding: $noYesPadding;
}

#no {
  background-color: $binAndNoColour;
}

#yes {
  background-color: $yesBtnColour;
}

/************************************************************** breakpoints */
$breakpoints: (
  "576px": 576px,
  "1200px": 1200px,
  "1366px": 1366px,
);

@media (min-width: map-get($breakpoints, "576px")) {
  /************************************************************** input field */
  $inputWidth: 17em;

  #addTaskInputField {
    width: $inputWidth;
  }

  /************************************************************** task area */
  $taskBoxWidth: 30em;

  #tasksContainer {
    width: $taskBoxWidth;
  }
}

@media (min-width: map-get($breakpoints, "1200px")) {
  /************************************************************** input field */
  $inputWidth: 15em;

  #addTaskInputField {
    width: $inputWidth;
  }

  /************************************************************** task area */
  $taskBoxHeight: 30em;

  #tasksContainer {
    height: $taskBoxHeight;
  }
}

@media (min-width: map-get($breakpoints, "1366px")) {
  /************************************************************** task area */
  $taskBoxHeight: 25em;

  #tasksContainer {
    height: $taskBoxHeight;
  }
}
