// repeated throughout
$fullNoneRemoval: none;
$fullZeroRemoval: 0em;
$centeredContent: center;
$btnCursor: pointer;

/************************************************************** universal */
$fontStyleType: "Indie Flower", cursive;
$mainBgColour: rgb(252, 224, 165);

* {
  font-family: $fontStyleType;
  margin: $fullZeroRemoval;
  padding: $fullZeroRemoval;
  list-style: $fullNoneRemoval;
  background-color: $mainBgColour;
}

/************************************************************** title */
$titleMarginTop: 0.5em;
$defaultCursor: default;
$titleSize: 3em;

#mainTitle {
  text-align: $centeredContent;
  margin-top: $titleMarginTop;
  cursor: $defaultCursor;
  font-size: $titleSize;
}

/************************************************************** input field */
$inputMarginTop: 2.1em;
$borderBottom: orange solid 0.2em;
$borderWidth: 7em;
$inputSize: 1.5em;

#inputContainer {
  text-align: $centeredContent;
  margin-top: $inputMarginTop;
}

#addTaskInputField {
  border: $fullZeroRemoval;
  border-bottom: $borderBottom;
  width: $borderWidth;
}

#addTaskInputField {
  outline: $fullNoneRemoval;
  font-size: $inputSize;
}

/************************************************************** input btn */
$btnSize: 2em;
$btnPosition: absolute;
$btnRight: 1.1em;
$btnColour: yellow;
$btnTop: 4.1em;

#addBtn.fas.fa-plus-circle {
  font-size: $btnSize;
  position: $btnPosition;
  right: $btnRight;
  color: $btnColour;
  top: $btnTop;
  cursor: $btnCursor;
}

/************************************************************** task area */
$taskBoxBorder: solid 0.5em orange;
$taskBoxWidth: 18em;
$taskBoxHeight: 25em;
$taskBoxMargin: 2em auto 0em;
$taskBoxOverflow: auto;

#tasksContainer {
  border: $taskBoxBorder;
  width: $taskBoxWidth;
  height: $taskBoxHeight;
  margin: $taskBoxMargin;
  overflow: $taskBoxOverflow;
}

/************************************************************** task items */
$taskItemsSize: 1.9em;
$taskItemsMargins: auto 0.3em;
$binColour: red;
$binMarginLeft:1em;
$taskItemsBottom: orange solid 0.1em;
$taskItemsPaddingTop: 0.2em;

.task-items {
  font-size: $taskItemsSize;
  margin: $taskItemsMargins;
  cursor: $defaultCursor;
}

.far.fa-trash-alt {
  color: $binColour;
  margin-left: $binMarginLeft;
  cursor: $btnCursor;
}

.task-items hr {
  border: $fullZeroRemoval;
  border-bottom: $taskItemsBottom;
  padding-top: $taskItemsPaddingTop;
}
